vmconnector/src/main/mule/VMPublisher.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<flow name="VMPublisherFlow" doc:id="62152e91-919b-4907-80c5-c1d85a43fb10" >
		<scheduler doc:name="Scheduler" doc:id="b587e80a-be42-40c1-b683-a2262763552e" >
			<scheduling-strategy >
				<fixed-frequency frequency="2" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<set-variable value='#["Hello" ++ now()]' doc:name="Set Variable" doc:id="da9a9c0c-e127-487b-805e-b50c47eb205d" variableName="msg"/>
		<vm:publish queueName="PERSISTENTQ" doc:name="Publish" doc:id="0507f701-4ec3-436c-bf72-83723730ee75" config-ref="VM_Config">
			<vm:content ><![CDATA[#[vars.msg]]]></vm:content>
		</vm:publish>
		<logger level="INFO" doc:name="Logger" doc:id="f98592c8-6612-42b1-8a41-8c132d481627" message="Published message : #[vars.msg]"/>
	</flow>
</mule>
