invokesoap/src/main/mule/invokesoap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cd012f54-52d2-4c5c-b649-30fa6c8edadd" >
		<http:listener-connection host="0.0.0.0" port="8092" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="c73afdd3-cdd0-4a35-8baf-ecea40a9db87" >
		<wsc:connection wsdlLocation="http://www.dataaccess.com/webservicesserver/NumberConversion.wso?WSDL" service="NumberConversion" port="NumberConversionSoap12" address="http://www.dataaccess.com/webservicesserver/NumberConversion.wso">
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="invokesoapFlow" doc:id="0b7cd779-7f72-47c6-9b3b-dfe78ee06157" >
		<http:listener doc:name="Listener" doc:id="b2b01627-0e80-4d62-b6ca-72c358f62aaf" config-ref="HTTP_Listener_config" path="/converter"/>
		<set-variable value="#[attributes.queryParams.num]" doc:name="Set Variable" doc:id="b88bd5e7-3f03-40f5-9f4a-0704ecd941cd" variableName="var1"/>
		<logger level="INFO" doc:name="Logger" doc:id="2c48451f-60df-4d87-abd8-d12fd944f7cf" message="numer received : #[vars.var1]"/>
		<ee:transform doc:name="Transform Message" doc:id="53c7db59-666b-4323-b36a-17142549d39b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.dataaccess.com/webservicesserver/
---
{
	ns0#NumberToWords: {
		ns0#ubiNum: vars.var1 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="9d3c9ca8-c09b-4dc3-8877-6565bb2765dc" config-ref="Web_Service_Consumer_Config" operation="NumberToWords">
		</wsc:consume>
		<set-payload value="#[payload.body.NumberToWordsResponse.NumberToWordsResult]" doc:name="Set Payload" doc:id="a66e9359-97f9-4825-8bb3-55c6d9c61eda" />
	</flow>
</mule>
