auto-deployment-poc/src/main/mule/timezone.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6e392d0e-4017-4607-85c5-9637ba04b947" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="a4692b1d-b230-42f7-b201-612b328bdd0d">
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="86430d73-c031-4457-9552-6a4047707b7f" file="properties-${env}.yaml" />
	<flow name="timezoneFlow" doc:id="78914b59-ea83-4447-98cd-40b4d4113ba7" >
		<http:listener doc:name="Listener" doc:id="4925264e-0592-458c-9c3c-b56262301a8d" config-ref="HTTP_Listener_config" path="/{region}/{city}">
			<http:error-response statusCode="#[vars.httpStatusCode]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<set-variable value="#[attributes.uriParams.region]" doc:name="Set Region" doc:id="5fb58ec9-cb48-417c-a33f-2a61b80e7ba2" variableName="region"/>
		<set-variable value="#[attributes.uriParams.city]" doc:name="Set City" doc:id="457d8ae0-d5d6-4f04-a37d-1e96a414e656" variableName="city"/>
		<logger level="INFO" doc:name="Logger" doc:id="8662ac5b-590c-46f6-a6a6-82e2d209ca9b" message="Request received for region : #[vars.region] and city : #[vars.city]"/>
		<http:request method="GET" doc:name="Request" doc:id="a46914bb-7948-494b-8583-09ce5c21a286" config-ref="HTTP_Request_configuration" path="/api/timezone/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : vars.city,
	region : vars.region
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="eb7d4c4c-3726-4560-8554-05cf2168d869" message="Request completed for region : #[vars.region] and city : #[vars.city]"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="b93bf441-09de-464d-b668-b8397d71b9b4" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="NOT_FOUND" doc:id="aeccc4b8-b617-4782-a8a4-f48702e0f3f9" type="HTTP:NOT_FOUND">
				<logger level="INFO" doc:name="Logger" doc:id="0dedfe5d-998e-4c8b-98da-111e892c622b" message='No record found'/>
				<ee:transform doc:name="Transform Message" doc:id="b52b0028-4db9-49cb-a024-c12eedb28091" >
					<ee:message >
						<ee:set-payload ><![CDATA[output application/json
---
{
	error: "Record not found."
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatusCode" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="90bd2751-2d4a-4e04-b4cf-038b8a2b71cd" type="ANY">
				<logger level="INFO" doc:name="Logger" doc:id="06f05b2e-2fe1-476a-8dab-3edfff7f7be4" message="Error occoured for request"/>
				<ee:transform doc:name="Transform Message" doc:id="88c5ea9a-24e2-42b6-9d9a-e562621d6f14" >
					<ee:message >
						<ee:set-payload ><![CDATA[output application/json
---
{
	error: "Error occoured"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatusCode" ><![CDATA[500]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
